p,th,td,div,span,input,a
{
color:#eeeeee;
}

.colorAF
{
	color:#afafaf ;	
}

.color7D
{
	color:#7d7d7d ;	
}

.colorC2
{
	color:#c2c2c2 ;	
}


.color910
{
color:#991100;
}

.colrof9e3
{
	color:#FFF9E3;	
}

.colorMain
{
	color:#A46E35;	
}

.color9
{
	color:#C58644;	
}

.color6
{
	color:#A46E35;	
}

.color3
{
	color:#6E3F05;	
}