p,th,td,div,span,input,a
{
	font-size:14px;
}
.font42
{
font-size:42px;	
}
a.font42
{
font-size:42px;	
}

.font41
{
font-size:41px;	
}
a.font41
{
font-size:41px;	
}


.font25
{
font-size:25px;	
}
a.font25
{
font-size:25px;	
}


.font32
{
	font-size:32px;	
}
.font36
{
	font-size:36px;	
}
.font40
{
	font-size:40px;	
}

.font18
{
font-size:18px;	
}

a.font18
{
font-size:18px;	
}
.font20
{
font-size:20px;	
}
a.font20
{
font-size:20px;	
}
.font16
{
font-size:16px;	
}

a.font16
{
font-size:16px;	
}

.font15
{
font-size:15px;	
}
a.font15
{
font-size:15px;	
}

.font14
{
font-size:14px;	
}
a.font14
{
font-size:14px;	
}


a.font22
{
font-size:22px;	
}


a.font24
{
font-size:24px;	
}


a.font26
{
font-size:26px;	
}


a.font28
{
font-size:28px;	
}

.font22
{
font-size:22px;	
}


.font24
{
font-size:24px;	
}


.font26
{
font-size:26px;	
}


.font28
{
font-size:28px;	
}



.font12
{
font-size:12px;	
}

a.font12
{
font-size:12px;	
}

.font13
{
font-size:13px;	
}

a.font13
{
font-size:13px;	
}


.txtleft
{
	text-align:left;	
}
.txtright
{
	text-align:right;	
}
.txtcenter
{
	text-align:center;	
}