.NavTDWidth 
{
	width:90px;
	height:90px;
	display:block;
	background-position:center center;
}

.box60
{
width:60px;
height:60px;
}
.box68
{
width:68px;
height:68px;
}
.box86
{
width:86px;
height:86px;
}
.box112
{
width:112px;
height:112px;
}

.height4
{
	height:4px;
}
.height6
{
	height:6px;
}
.height8
{
	height:8px;
}
.height10
{
	height:10px;
}
.height12
{
	height:12px;
}
.height14
{
	height:14px;
}
.height16
{
	height:16px;
}
.height18
{
	height:18px;
}
.height30
{
	height:30px;	
}
.height42
{
	height:42px;	
}
.height45
{
	height:45px;	
}
.height34
{
	height:34px;	
}


.widthmin70
{
	min-width:70px;	
}


.width520
{
width:520px;
}


.width28
{
width:28px;	
}
.width38
{
width:38px;	
}
.width20
{
width:20px;	
}
.width50p
{
width:50%;	
}

.width532
{
width:532px;
}

.width8
{
width:8px;	
}

.width140
{
	width:140px;	
}

.height20
{
height:20px;	
}


.height140
{
	height:140px;	
}

.height135
{
height:135px;	
}



.height88
{
height:88px;	
}


.height260
{
height:260px;
}
.height98
{
height:98px;
}

.height38
{
height:38px;	
}
.height82
{
height:82px;
}

.height110
{
height:110px;	
}

.width110
{
width:110px;	
}
.width220
{
width:220px;	
}
.width240
{
width:240px;	
}
.width260
{
width:260px;	
}

.height180
{
height:180px;	
}
.height120
{
height:120px;	
}	
.height60
{
height:60px;	
}
.height108
{
height:108px;	
}

.height76
{
	height:76px;	
}

.height116
{
height:116px;	
}
.height72
{
height:72px;	
}
.height380
{
height:380px;	
}

.height600
{
height:600px;	
}

.height80
{
height:80px;	
}


.height90
{
height:90px;	
}

.heightNav
{
height:85px;	
}



.baseimageheight1
{
	height:50px;	
}
.baseimageheight2
{
	height:70px;	
}
.baseimageheight3
{
	height:90px;	
}
.baseimageheight4
{
	height:110px;	
}