

.colorF
{
	color:#ffffff;	
}

.colorC
{
	color:#CCCCCC;	
}

.color9
{
	color:#999999;	
}

.color6
{
	color:#666666;	
}

a.color6
{
	color:#666666;	
}

a.color3
{
	color:#333333;	
}
.color3
{
	color:#333333;	
}

a.color2
{
	color:#222222;	
}
.color2
{
	color:#222222;	
}

.color0
{
	color:#000;	
}

.colorA
{
	color:#AAA;	
}
.colorB
{
	color:#BBB;	
}
.colorC
{
	color:#CCC;	
}
.colorD
{
	color:#DDD;	
}
.colorE
{
	color:#EEE;	
}


.colorR
{
	color:#990000;	
}

.colorGray6
{
	color:#666666;	
}

a.colorGray6
{
	color:#666666;	
}


.colorGray5
{
	color:#555555;	
}

a.colorGray5
{
	color:#555555;	
}

.colorGray9
{
	color:#999999;	
}

a.colorGray9
{
	color:#999999;	
}
.colorGray8
{
	color:#888888;	
}

a.colorGray8
{
	color:#888888;	
}

.colorGray3
{
	color:#333333;	
}

a.colorGray3
{
	color:#333333;	
}

.colorC2
{
	color:#cc2222;	
}

a.colorC2
{
	color:#cc2222;	
}


. colorNav
{
	color:#ffffff;	
}

.stt_nav a
{
	color:#ffffff;
}

.stt_nav div
{
	color:#ffffff;
}