

.box100p
{
	width:100%;
	height:100%;	
}

.box90p
{
	width:90%;
	height:90%;	
}

.box80p
{
	width:80%;
	height:80%;	
}
.box70p
{
	width:70%;
	height:70%;	
}
.box60p
{
	width:60%;
	height:60%;	
}
.box50p
{
	width:50%;
	height:50%;	
}
.box20p
{
	width:20%;
	height:20%;	
}

a.width90p
{
width:90%;	
}

.width18p
{
width:18%;	
}
.width20p
{
width:20%;	
}
.width23p
{
width:23%;	
}
.width24p
{
width:24%;	
}
a.width25p
{
width:25%;	
}
.width45p
{
	width:45%;	
}
.width48p
{
	width:48%;	
}
.width49p
{
	width:49%;	
}
.width25p
{
width:25%;	
}
.width26p
{
width:26%;	
}
.width28p
{
width:28%;	
}
.width29p
{
width:29%;	
}
.width30p
{
width:32%;	
}
.width32p
{
width:32%;	
}
.width33p
{
width:33%;	
}
.width34p
{
width:34%;	
}
.width60p
{
width:60%;	
}
.width64p
{
width:64%;	
}
.width65p
{
width:65%;	
}
.width68p
{
width:68%;	
}
.width80p
{
width:80%;	
}
.width70p
{
width:70%;	
}
.width74p
{
width:74%;	
}
.width76p
{
width:76%;	
}
.width50p
{
width:50%;	
}
.width22p
{
width:22%;	
}

.width100p
{
	width:100%;
}


.width88p
{
	width:88%;	
}


.width98p
{
	width:98%;	
}

.width99p
{
	width:99%;	
}
		
.width94p
{
	width:94%;	
}

		
.width92p
{
	width:92%;	
}

.width90p
{
width:90%;	
}
.width96p
{
width:96%;	
}

.height30p
{
	height:30%;	
}
.height40p
{
	height:40%;	
}
.height60p
{
	height:60%;	
}
.height100p
{
	height:100%;	
}
.height90p
{
	height:90%;	
}
.height90
{
	height:90px;	
}
.height120
{
	height:120px;	
}
.heightNav
{
	height:40px;	
}
.height80p
{
	height:80%;	
}
.height85p
{
	height:85%;	
}
.height10p
{
	height:10%;	
}

.redborder
{
	border:2px solid #cc0000;	
}

.blueborder
{
	border:2px solid #0000cc;	
}

.greenborder
{
	border:2px solid #00cc00;	
}

.lheight220p
{
	line-height:220%;	
}

.lheight200p
{
	line-height:200%;	
}

.lheight180p
{
	line-height:180%;	
}

.lheight150p
{
	line-height:150%;	
}
.lheight120p
{
	line-height:120%;	
}

.minheight100p
{
	min-height:100%;
}