.editdiv
{
	color:#000000;	
}


.editdiv div
{
	font-size:24px;
	color:#000000;	
	width:100%;
	height:35px;
	padding:3px;
}
.editdiv span
{
	font-size:24px;
}

.bottomlinedotted
{
border-bottom:1px dotted #e1e1e1;	
}

.borderbottom1_E1
{
border-bottom:1px solid #e1e1e1;
}

.redborder
{
border:1px solid #cc0000;	
}

.itembottomE1
{
}

.slh
{
word-break:keep-all;
white-space:nowrap;
text-overflow:ellipsis;
white-spacing:nowrap;
}

.movieimageitem
{
	margin-left:1%;	
}



a.mainMenuItem3
{
display:inline-block;
width:90px;
padding:10px;;
background-color:#311;
text-decoration:none;
text-align:center;
}

a.mainMenuItem3:hover
{
background-color:#666;
}


.mainMenuItem3_
{
display:block;
width:100%;
}

.mainMenuItem4
{
display:block;
width:100%;
}

.mainMenuItem5
{
display:block;
width:100%;
}

.mainmenu
{
z-index:1000;
white-space:nowrap; 
overflow:visible;
}

.topborderdottedfd
{
border-top:1px dotted #e1e1e1;
}

					.actionmask1
					{
						position:absolute;
						text-align:center;
						top:0px;
						left:0px;
						width:100%;
						height:100%;
						z-index:999999;
						text-align:center;
					}
					
.frame
{
width:100%;
height:100%;
z-index:1;
}


.helttransframe
{
position:absolute;
width:100%;
height:100%;
z-index:1000;
background-image:url(lovemuseum/images/tt.png);
	background-size:100% 100%;
text-align:center;
}
.transframe
{
position:absolute;
width:100%;
z-index:1000;
}

.transframeHasHeight
{
position:absolute;
width:100%;
height:100%;
z-index:1000;
}

.content
{
background-repeat:repeat-x;
background-position:center  bottom;
height:100%;
width:100%;
overflow:hidden;
}

.content_transfer
{
background-repeat:repeat-x;
background-position:center  bottom;
height:100%;
width:100%;
overflow:hidden;
}

.fanzhuan
{
-webkit-transform:scaleY(-1);	
}


.frametransbg
{
background-image:url(base/images/tt.png);
}



.scrollparent
{
width:100%;
height:100%;
vertical-align:top;
}

.scrollparentNoHeight
{
width:100%;
border:0px solid #cc0000;
vertical-align:top;
overflow:hidden;
}

.scrollparent_d
{
width:100%;
height:100%;
overflow:hidden;
}



a.birthyearitem
{
display:block;
padding:1%;
}

.birthmonthitem
{
display:inline-block;
border-bottom:1px solid #e1e1e1;
text-align:center;
width:25%;
line-height:300%;
}

.birthdayitem
{
display:inline-block;
border-bottom:1px solid #e1e1e1;
text-align:center;
width:20%;
line-height:300%;
}


::-webkit-input-placeholder 
{
color: #999999; 
} 

.droplistitembox
{
padding:3%;
margin:4%;	
}

.dropitemparent
{
overflow:visible;
padding:1%;
margin-top:1%;
z-index:90000;
left:35%;
width:30%;
background-color:#919191;	
}

#iconlistarea
{
	text-align:left;
}

#iconlistarea a
{
	background-color:#444444;
	margin-right:1%;
	margin-top:10px;
	padding:12px;
	float:left;
}

#iconlistarea a img 
{
	width:26px;
	height:26px;
	vertical-align:-6px;
	padding-left:4px;
}

#iconlistarea a div 
{
	display:inline-block;
	font-size:18px;
	padding-left:6px;
	text-align:left;
}


.stt_ge
{
font-size:26px;
padding-top:20px;
padding-bottom:20px;
}

.stt_vge
{
	margin-right:1%;
}

.tl1
{
	display: flex;
	flex-direction: column;
	white-space: nowrap; 
	width:100%;
	background-color:rgba(250,250,250,0.9);
	margin-top:2px;
	
}

.tl2
{
	display: flex;
	flex-direction: column;
	white-space: nowrap; 
	width:100%;
	background-color:rgba(250,240,220,0.8);
	margin-top:2px;
	
}


.tlifirst
{
	display:inline-block;
	background-color:#171B52;	
	text-align:center;
	width:50px;
	white-space: nowrap; 
	
}

.tlisecond
{
	display:inline-block;
	background-color:#565262;	
	text-align:center;
	width:30px;
	white-space: nowrap; 
	
}

.tli3
{
	display:inline-block;
	background-color:#080808;	
	text-align:center;
	width:50px;
	white-space: nowrap; 
	
}

.tliline
{
	display:inline-block;
	white-space: nowrap;
	width:100%;
	padding-right:50px;
	min-width:1500px;
}

.ti1
{
	display:inline-block;
	color:#eee;	
	background-color:rgba(10,80,0,0.8);	
	text-align:center;
}

.ti2
{
	display:inline-block;
	color:#eee;	
	background-color:rgba(20,0,0,0.8);	
	text-align:center;
}

.curcursor
{
	z-index:5;
	height:22px;
	width:1px;
	background-color:rgba(150,10,15,0.8);
}

.showBar
{
	width:10px;
	z-index:2;
	margin-top:0px;
	background-color:rgba(20,20,30,0.2);
	border:1px solid #f00;
	height:99%;
}