p,th,td,div,span,input,a
{
	font-size:42px;
}

.font16
{
font-size:24px;	
}

a.font16
{
font-size:24px;	
}


.font18
{
font-size:27px;	
}

a.font18
{
font-size:27px;	
}

.font20
{
font-size:30px;	
}
a.font20
{
font-size:30px;	
}
.font28
{
font-size:42px;	
}

a.font28
{
font-size:42px;	
}

.font24
{
font-size:36px;	
}

.font30
{
font-size:45px;
}
.font36
{
font-size:54px;
}
.font32
{
font-size:48px;
}
.font34
{
font-size:51px;
}

.font20
{
font-size:30px;	
}

.font26
{
font-size:39px;	
}

.font22
{
font-size:33px;	
}
.font14
{
font-size:21px;	
}

a.font14
{
font-size:21px;	
}