
.BgSexMan
{
	background-image:url(base/images/3x/sexman.png);
}

.BgSexManS
{
	background-image:url(base/images/3x/sexmanS.png);
}

.BgSexWoman
{
	background-image:url(base/images/3x/sexwoman.png);
}

.BgSexWomanS
{
	background-image:url(base/images/3x/sexwomanS.png);
}
