.padding5
{
	padding:7px;	
}

.paddingleft22
{
	padding-left:33px;	
}

.paddingtop31
{
	padding-top:93px;
}

.padding36
{
	padding:54px;	
}

.paddingtop80
{
	padding-top:120px;	
}

.paddingbottom6
{
padding-bottom:9px;
}
.paddingtop30
{
	padding-top:45px;	
}
.padding20
{
	padding:30px;	
}
.padding26
{
	padding:39px;	
}
.padding10
{
	padding:15px;	
}

.padding30
{
padding:45px;
}
.paddingtop10
{
	padding-top:15px;	
}
.paddingbottom10
{
	padding-bottom:15px;	
}

.paddingTB10
{
	padding-top:15px;	
	padding-bottom:15px;	
}
.paddingTB15
{
	padding-top:22px;	
	padding-bottom:22px;	
}
.paddingTB5
{
	padding-top:7px;	
	padding-bottom:7px;	
}
.paddingTB30
{
	padding-top:45px;	
	padding-bottom:45px;	
}

.paddingtop14
{
	padding-top:21px;	
}

.padding14
{
	padding:21px;	
}

.paddingbottom14
{
	padding-bottom:21px;	
}

.topNav
{
	top:135px;	
}




.top88
{
	top:132px;	
}
.top72
{
	top:108px;	
}
.top94
{
	top:141px;	
}
.top82
{
	top:123px;	
}

.top90
{
	top:135px;	
}
.top114
{
top:171px;
}
.bottom144
{
bottom:216px:
}

.bottom98
{
	bottom:147px;	
}
.margintopf98
{
		margin-top:-147px;
}
.bottom99
{
	bottom:149px;	
}
.bottom100
{
	bottom:152px;	
}
.bottom0
{
	bottom:1px;	
}