.NavTDWidth 
{
	width:135px;
	height:135px;
	display:block;
	background-position:center center;
}


.box60
{
width:90px;
height:90px;
}
.box68
{
width:102px;
height:102px;
}
.box112
{
width:168px;
height:168px;
}

.height30
{
	height:45px;	
}
.height34
{
	height:51px;	
}
.height20
{
height:30px;	
}

.width8
{
width:12px;	
}


.width50p
{
width:50%;	
}
.width38
{
width:57px;	
}

.width28
{
width:42px;	
}
.width20
{
width:30px;	
}

.width140
{
	width:210px;	
}

.width532
{
width:798px;
}

.height76
{
	height:114px;	
}
.width520
{
width:780px;
}

.height260
{
height:390px;
}
.height135
{
height:203px;	
}
.height88
{
height:132px;	
}


.height140
{
	height:210px;	
}

.height80
{
height:120px;	
}

.height120
{
height:180px;	
}	

.height180
{
height:270px;	
}

.height600
{
height:900px;	
}

.height82
{
height:123px;
}

.height72
{
height:108px;	
}

.height108
{
height:162px;	
}

.height60
{
height:90px;	
}

.height380
{
height:570px;	
}

.height4
{
	height:6px;
}
.height6
{
	height:9px;
}
.height8
{
	height:12px;
}
.height10
{
	height:15px;
}
.height12
{
	height:18px;
}
.height14
{
	height:21px;
}


.height116
{
height:174px;	
}

.height110
{
height:165px;	
}

.width110
{
width:165px;	
}
.width220
{
width:330px;	
}

.height98
{
height:147px;
}

.height38
{
height:57px;	
}
.height42
{
	height:63px;	
}
.height45
{
	height:68px;	
}

.height90
{
height:135px;	
}

.heightNav
{
height:135px;	
}

.baseimageheight1
{
	height:75px;	
}
.baseimageheight2
{
	height:105px;	
}
.baseimageheight3
{
	height:135px;	
}
.baseimageheight4
{
	height:165px;	
}