p,th,td,div,span,input,a
{
	font-size:24px;
	text-decoration:none;
}

a.font28
{
font-size:28px;	
}

.font28
{
font-size:28px;	
}
.font30
{
font-size:30px;
}
a.font30
{
font-size:30px;	
}
.font20
{
font-size:20px;	
}
a.font20
{
font-size:20px;	
}
.font26
{
font-size:26px;	
}
a.font26
{
font-size:26px;	
}
.font36
{
font-size:36px;	
}
a.font36
{
font-size:36px;	
}
.font32
{
font-size:32px;	
}
a.font32
{
font-size:32px;	
}
.font34
{
font-size:34px;
}
.font22
{
font-size:22px;	
}

.font24
{
font-size:24px;	
}
.font14
{
font-size:28px;	
}

a.font14
{
font-size:28px;	
}


.font16
{
font-size:16px;	
}
a.font16
{
font-size:16px;	
}

.font18
{
font-size:18px;	
}
a.font18
{
font-size:18px;	
}

.font17
{
font-size:17px;	
}
a.font17
{
font-size:17px;	
}


.font19
{
font-size:19px;	
}
a.font19
{
font-size:19px;	
}

.font38
{
font-size:38px;	
}
a.font38
{
font-size:38px;	
}


.font40
{
font-size:40px;	
}
a.font40
{
font-size:40px;	
}


.font42
{
font-size:42px;	
}
a.font42
{
font-size:42px;	
}

.font45
{
font-size:45px;	
}
a.font45
{
font-size:45px;	
}

.font48
{
font-size:48px;	
}
a.font48
{
font-size:48px;	
}

.font50
{
font-size:50px;	
}
a.font50
{
font-size:50px;	
}

.font52
{
font-size:52px;	
}

a.font52
{
font-size:52px;	
}

.font41
{
font-size:41px;	
}
a.font41
{
font-size:41px;	
}


.font25
{
font-size:25px;	
}
a.font25
{
font-size:25px;	
}