
.top88
{
	top:88px;	
}

.padding0
{
	padding:0px;	
}

.paddingtop31
{
	padding-top:62px;
}


.margintop0
{
margin-top: 0px; 
}


.paddingtop0
{
padding-top: 0px; 
}
    
    
.padding5
{
	padding:5px;	
}

.padding15
{
	padding:15px;	
}
.padding25
{
	padding:25px;	
}
.paddingTB5
{
	padding-top:5px;	
	padding-bottom:5px;	
}

.paddingTB0
{
	padding-top:0px;	
	padding-bottom:0px;	
}

    
.paddingTB1
{
	padding-top:1px;	
	padding-bottom:1px;	
}

.paddingTB10
{
	padding-top:10px;	
	padding-bottom:10px;	
}
.paddingTB15
{
	padding-top:15px;	
	padding-bottom:15px;	
}



.paddingLR10
{
	padding-left:10px;	
	padding-right:10px;	
}
.paddingLR15
{
	padding-left:15px;	
	padding-right:15px;	
}


.paddingTop15
{
	padding-top:15px;	
}
	
.paddingTB20
{
	padding-top:20px;	
	padding-bottom:20px;	
}
.padding36
{
	padding:36px;	
}

.paddingtop80
{
	padding-top:80px;	
}

.paddingbottom6
{
padding-bottom:6px;
}

.paddingbottom14
{
	padding-bottom:14px;	
}

.paddingtop30
{
	padding-top:30px;	
}
.padding20
{
	padding:20px;	
}
.padding26
{
	padding:26px;	
}
.padding30
{
padding:30px;
}
.paddingtop14
{
	padding-top:14px;	
}
.padding14
{
	padding:14px;
}
.paddingleft18
{
	padding-left:18px;
}
.paddingright18
{
	padding-right:18px;
}
.paddingright0
{
	padding-right:0px;
}
.paddingbottom0
{
	padding-bottom:0px;
}
.paddingleft20
{
	padding-left:20px;
}
.paddingleft28
{
	padding-left:28px;
}
.paddingleft78
{
	padding-left:78px;
}
.paddingleft88
{
	padding-left:88px;
}
.paddingleft98
{
	padding-left:98px;
}
.paddingleft100
{
	padding-left:100px;
}
.paddingright28
{
	padding-right:28px;
}
.padding10
{
	padding:10px;	
}
.paddingtop10
{
	padding-top:10px;	
}
.paddingbottom10
{
	padding-bottom:10px;	
}

.paddingTB10
{
	padding-top:10px;	
	padding-bottom:10px;	
}

.paddingTB5
{
	padding-top:5px;	
	padding-bottom:5px;	
}
.paddingTB2
{
	padding-top:2px;	
	padding-bottom:2px;	
}
.paddingTB1
{
	padding-top:1px;	
	padding-bottom:1px;	
}
.paddingTB30
{
	padding-top:30px;	
	padding-bottom:30px;	
}

.paddingTB20
{
	padding-top:20px;	
	padding-bottom:20px;	
}
.paddingLR30
{
	padding-left:30px;	
	padding-right:30px;	
}
.paddingLR50
{
	padding-left:50px;	
	padding-right:50px;	
}
.paddingLR40
{
	padding-left:40px;	
	padding-right:40px;	
}
.paddingLR20
{
	padding-left:20px;	
	padding-right:20px;	
}
.paddingLR10
{
	padding-left:10px;	
	padding-right:10px;	
}

.topNav
{
	top:90px;	
}

.margin10
{
margin:10px;	
}
.margin20
{
margin:20px;	
}
.margin30
{
margin:30px;	
}
.margin15
{
margin:15px;	
}
.margin25
{
margin:25px;	
}
.margin35
{
margin:35px;	
}

.top82
{
	top:82px;	
}
.top72
{
	top:72px;	
}
.top94
{
	top:94px;	
}
.top90
{
	top:90px;	
}

.top114
{
top:114px;
}
.bottom144
{
bottom:144px:
}

.bottom98
{
	bottom:98px;	
}
.bottom99
{
	bottom:99px;	
}
.bottom100
{
	bottom:100px;	
}
.bottom0
{
	bottom:1px;	
}
.margintopf98
{
		margin-top:-98px;
}
.margintop8
{
		margin-top:8px;
}
.margintop12
{
		margin-top:12px;
}