


a.listitemHasNextNoAct
{
display:inline-block;
width:100%;
border-bottom:1px solid #E1E1E1;
width:100%;
font-size:26px;
padding:34px;
padding-left:26px;
background-color:#FAFAFA;
}



a.listitemHasNext
{
display:inline-block;
width:100%;
border-bottom:1px solid #E1E1E1;
width:100%;
font-size:26px;
padding:34px;
padding-left:26px;
background-color:#FAFAFA;
}

a.listitemHasNext:active
{
background-color:#f0f0f0;
}

a.listitemHasNotNext
{
width:100%;
border-bottom:1px solid #E1E1E1;
display:block;
width:100%;
background-color:#FAFAFA;
margin-bottom:36px;
font-size:26px;
overflow:hidden;
padding:34px;
padding-left:26px;
}
a.listitemHasNotNext:active
{
background-color:#f0f0f0;
}


.head112mask
{
background-image:url('base/images/headMask/2x/headMask112.png');	
}


.head60mask
{
background-image:url('base/images/headMask/2x/headMask60.png');	
}

.head68mask
{
background-image:url('base/images/headMask/2x/headMask68.png');	
}