
body 
{
	margin:0px;
	padding:0px;
	overflow:hidden;
	color:#333333;
}

.itemparent
{
	display:block;
	margin-top:8px;
}


input 
{
	color:#222222;
	background-color:#fefefe;
	outline:none;
}

.item
{
	border-bottom:1px dotted #e1e1e1;	
}

.droplist
{
	display:inline-block;
	background-color:#efefef;	
	outline:none;
}

.droplistparent
{
	position:absolute;left:0px;
	z-index:10;width:100%;
	background-color:#fefefe;	
	height:100%;
}

.droplistitem
{
	padding:5px;
}



.mulbackground_a
{
	background:	url(base/images/cor_1_a.png) top left no-repeat,
													url(base/images/cor_2_a.png) top right no-repeat,
													url(base/images/cor_3_a.png) bottom left no-repeat,
													url(base/images/cor_4_a.png) bottom right no-repeat,
													url(base/images/black.gif) bottom repeat-x,
													url(base/images/black.gif) top repeat-x,
													url(base/images/black.gif) left repeat-y,
													url(base/images/black.gif) right repeat-y;
}

.mulbackground_b
{
	background:	url(base/images/cor_1_b.png) top left no-repeat,
													url(base/images/cor_2_b.png) top right no-repeat,
													url(base/images/cor_3_b.png) bottom left no-repeat,
													url(base/images/cor_4_b.png) bottom right no-repeat,
													url(base/images/black.gif) bottom repeat-x,
													url(base/images/black.gif) top repeat-x,
													url(base/images/black.gif) left repeat-y,
													url(base/images/black.gif) right repeat-y;
}

.mulinput
{
	outline:none;
	width:100%;
	border:0px;
	padding-left:30px;
}

.passplacehoder
{
	padding-top:39;
	padding-left:30px;
	color:#cccccc
}

.commonInput
{
	outline:none;
	border:0px;
	background-color:#f6f6f6;
	color:#333333;
	height:36px;
	padding:5px;
	border-bottom:1px solid #cccccc;
}

.round_button_green
{
	background:url(base/images/bt_1_1_green.png) left no-repeat,
							url(base/images/bt_1_3_green.png) right repeat-y,
							url(base/images/bt_1_2.png) center repeat-x;		
	color:#ffffff;
	font-size:25px;	
	text-align:center;	
	padding-top:8px;						
}

.round_button_white
{
	background:url(base/images/bt_1_1_white.png) left no-repeat,
							url(base/images/bt_1_3_white.png) right repeat-y,
							url(base/images/bt_1_2.png) repeat-x;		
	color:#ffffff;
	font-size:25px;	
	text-align:center;
	padding:6px;
	padding-left:18px;
	letter-spacing:13px;
}

.round_button_gray
{
	background:url(base/images/bt_1_1_gray.png) left no-repeat,
							url(base/images/bt_1_3_gray.png) right repeat-y,
							url(base/images/bt_1_2_gray.png) repeat-x;		
	color:#ffffff;
	font-size:25px;	
	text-align:center;
	padding:6px;
	padding-left:18px;
	letter-spacing:13px;
}



.round_button_gray_small
{
	background:url(base/images/bt_1_1_gray_small.png) left no-repeat,url(base/images/bt_1_3_gray_small.png) right no-repeat;
	padding-left:8px;
	padding-right:8px;		
	display:inline-block;			
}


.round_button_gray_small_content
{
	background-color:#666666;
	color:#ffffff;
	font-size:18px;	
	text-align:center;
	padding:4px;
	padding-top:3px;
	padding-left:15px;
	letter-spacing:13px;
	height:100%;		
}



.round_input_gray_small
{
	background:url(base/images/ipt_1_1_gray_small.png) left no-repeat,url(base/images/ipt_1_3_gray_small.png) right no-repeat;
	padding-left:6px;
	padding-right:6px;		
	display:inline-block;			
}

.round_input_gray_small_content
{
	border:0px;
	border-top:1px solid #666666;
	border-bottom:1px solid #666666;
	font-size:16px;	
	padding:2px;
	padding-bottom:3px;	
	height:100%;
	width:100%;	
}


.actionmask
{
	position:absolute	;
	text-align:center;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:999999;
}