p,th,td,div,span,input,a
{
color:#555555;
}

.colorAF
{
	color:#afafaf ;	
}

.color7D
{
	color:#7d7d7d ;	
}

.colorC2
{
	color:#c2c2c2 ;	
}


.color910
{
color:#991100;
}

.colrof9e3
{
	color:#FFF9E3;	
}

.colorMain
{
	color:#7d0002;	
}

.colorTitle
{
	color:#003000;	
}



.fontMainMenu
{
color:__fontMainMenu__;	
}

.mainMenuItem4 div
{
color:__mainMenuItem4_div__;	
}

.mainMenuItem5 div
{
color:#666666;	
}

.mainMenuItem5_select div
{
color:#333333;	
}